/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Ensure Ionic content specifically hides it too */
ion-content::part(scroll) {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

ion-content::part(scroll)::-webkit-scrollbar {
    display: none;
}